/* MODAL.CSS */

/* Add top animation (Chrome, Safari, Opera) */

@-webkit-keyframes animatetop {
    from {
      top: -6.25em;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    to {
      top: 0em;
      opacity: 1;
      filter: alpha(opacity=100);
    }
}

/* Add top animation (Standard syntax) */

@keyframes animatetop {
    from {
      top: -6.25em;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    to {
      top: 0em;
      opacity: 1;
      filter: alpha(opacity=100);
    }
}

.lightbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -12.5em;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.8);
}

/**
 * Vertical centering - absolute positioning method
 */
 
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto;
  text-align: center;
}

.modal-content {
  position: relative;
    /* Add animation */
  -webkit-animation-name: animatetop; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

/* Display the modal when targeted */

.modal:target {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

/* The button used to close the modal */

.closebtn {
  z-index: 10;
  text-decoration: none;
  font-size: 4em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 1em;
  top: 0.9em;
}

.closebtn:hover,
.closebtn:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
